*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}
section{
    background-color: #ff745f;
    width: 100%;
    height: 100%;
}
h1{
    text-align: center;
    color: #36173d;
    background-color: #ff4845;
}
.div-padre{
    display: flex;
    flex-direction: row;
}
.divs-hijos{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color:#ffec5e;
    height: 300px;
    width: 300px;
    margin: 20px;
    border-radius: 20px;    
}
ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    text-align: center;
}
.div-ingreso-usuario{
    display;
}
img{
    height: 100px;
    width: 100px;
    border-radius: 40px;
}
@media  {
    
}